.right-image {
  float: right; 
  margin-top: -99px; 
  margin-left: 1030px;
}

a:hover {
  background-color: red;
}

/* Unvisited link */
a:link {
  color: #FF0000;
}

/* Visited link */
a:visited {
  color: #1087ac;
}

/* Mouse over link */
a:hover {
  color: #ff0000;
}