.right-image {
    float: right; 
    margin-top: -113px;  
    margin-left: 30px; 
}

a:hover {
    background-color: red;
}

unvisited link 
a:link {
    color: #FF0000;
  }
  
  /* visited link */
  a:visited {
    color: #000000;
  }
  
  /* mouse over link */
  a:hover {
    color: #ff0000;
  }
  
  /* selected link */
  a:active {
    color: #0000FF;
  }